.explainer-boxes {
  font-size: 16px;
}
.jumbotron {
	text-align: center;
	margin-bottom: 0;
}
.sub-header {
	text-align: center;
}
.tagline {
  margin-top: 20px;
}

.typeform-share.btn.btn-primary {
  font-size: 18px;
}
.explainer-boxes .typeform-share {
  text-align: center;
  width:100%;
}

.details ul {
  padding-left: 20px;
  padding-right: 20px;
}

.details li {
  font-size: 1.6em;
  list-style: none;
  padding-bottom:10px;
}

.details .explainer-boxes li {
	font-size: 1.1em;
	border-bottom: 1px solid #eee;
  padding-bottom:0;
	list-style: disc;
	color: #555;
}

.details h2 {
	text-align: center;
  margin-bottom:20px;
}

.detail-footer {
	text-align: center;
}

.well {
	border-radius: 0;
}

.coffee-image {
  max-width:350px;
  padding:0 20px;
  margin: 25px auto;
}
.coffee-image img {
  max-width:100%;
}

.bs-docs-footer {
    padding: 50px 10px;
    margin-top: 50px;
    color: #99979c;
    text-align: left;
    background-color: #35302E;
}

.bs-docs-footer-links {
    padding-left: 0;
    margin-bottom: 20px;
}

.bs-docs-footer-links li {
    display: inline-block;
}
.bs-docs-footer-links li+li {
    margin-left: 15px;
}

.bs-docs-footer a {
    color: #fff;
}

.explainer-boxes .well {
}

.page-header {
    margin-top: 0;
}

.launched-in-dfw {
    text-align: right;
}
.launched-in-dfw img {
    max-height:90px;
}

@media (min-width: 1000px) { 
  .bs-docs-footer-links li {
    display:block;
  }
  .launched-in-dfw {
    text-align: center;
  }
  .launched-in-dfw img {
    max-height:50px;
    padding-bottom: 20px;
  }

}