.jumbotron {
	text-align: center;
	margin-bottom: 0;
}
.sub-header {
	text-align: center;
}
.tagline {
  margin-top: 20px;
}

.typeform-share.btn.btn-primary {
  font-size: 24px;
}

.details li {
	font-size: 1.6em;
	padding:20px 0;
	border-bottom: 1px solid #eee;
	list-style: none;
	color: #555;
}

.details h2 {
	text-align: center;
  margin-bottom:20px;
}

.detail-footer {
	text-align: center;
}

.well {
	border-radius: 0;
}

.coffee-image {
  max-width:350px;
  padding:0 20px;
  margin: 25px auto;
}
.coffee-image img {
  max-width:100%;
}

.bs-docs-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    color: #99979c;
    text-align: left;
    background-color: #35302E;
}

.bs-docs-footer-links {
    padding-left: 0;
    margin-bottom: 20px;
}

.bs-docs-footer-links li {
    display: inline-block;
}
.bs-docs-footer-links li+li {
    margin-left: 15px;
}

.bs-docs-footer a {
    color: #fff;
}

.explainer-boxes .well {
}

.page-header {
    margin-top: 0;
}